@import "animations/animations";
@import "g_style/general_style";
@import "components/footer";
@import "components/header";

.grid_base{ //Grid general style
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    margin: 35px;
}

.img_style{
    border-radius: 4%;
    width: 100%;
    height: 100%;
}

#carouselExampleFade{
    grid-area: a3;
}
.d-block{
    border-radius: 3%;

}
#grid_index{
    @extend .grid_base;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 340px;
    grid-template-areas:"a1 a2"
                        "a3 a3";
}

#parrafo_index{
    grid-area: a1;
}

#video_index{
    @extend .img_style;
    grid-area: a2;
}


#grid_nosotros{
    @extend .grid_base;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 20px 220px 180px;
    grid-template-areas:"a1 a1 a2"
                        "a3 a3 a2"
                        "a4 a5 a2";
}

#titulo_nosotros{
    grid-area: a1;
}
#parrafo_nosotros_uno{
    grid-area: a3;
}

#nosotros_img1{
    @include img_animation_to_nosotros(a4, cambio_imagen_1)
    
}
#nosotros_img2{
    @include img_animation_to_nosotros(a5, cambio_imagen_2)
}

.img_nosotros{
    transition: all 0.3s;
}
.img_nosotros:hover{
    transform: scale(1.1,1.1);
}


#nosotros_fieldset{
    align-self: start;
    grid-area: a2;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5%;
}


#grid_1_servicios{
    @extend .grid_base;
    grid-template-columns: 360px 290px;
    grid-template-rows: 50px 280px;
    grid-template-areas:"b1 b3"
                        "b2 b3";
}

#titulo_servicios{
    grid-area: b1;
}
#parrafo_servicios_uno{
    grid-area: b2;
    margin-right: 10px;
    margin-right: 10px;
}

#img_servicios{
    grid-area: b3;
    @extend .img_style;
}


#grid_2_servicios{
    @extend .grid_base;
    border-radius: 50%;
    background-image: $degrade_1;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 500px;
}

.carta_servicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 400px;
}


.logo_servicio{
    width: 80%;
    transition: all 0.3s;
}
.logo_servicio:hover{
    transform: scale(1.1,1.1);
}

@mixin grid_game($tipo){
    background-image: $degrade_1;
    padding: 20px;
    border-radius: 50%; 
    @if $tipo == 1{
        grid-template-columns: 90px 90px 90px 160px 160px;
        grid-template-rows: 90px 70px 55px 55px 55px;
        grid-template-areas:"a1 a2 a2 a4 a4"
                            "a3 a3 a3 a4 a4"
                            "a6 a7 a8 a4 a4"
                            "a6 a7 a8 a4 a4"
                            "a6 a7 a8 a5 a9";
    }
    @else{
        grid-template-columns: 90px 70px 70px 160px 160px;
        grid-template-rows: 90px 70px 41.25px 41.25px 27.5px 55px;
        grid-template-areas:"a1 a2 a2 a4 a4"
                            "a3 a3 a3 a4 a4"
                            "a6 a6 a6 a4 a4"
                            "a6 a6 a6 a4 a4"
                            "a7 a7 a7 a4 a4"
                            "a7 a7 a7 a5 a9";
    }
    
}
.grid_carta_juego{
    @extend .grid_base;
    @include grid_game(1)
    
}

.grid_carta_juego2{
    @extend .grid_base;
    @include grid_game(2)
}

.name_juego{
    font-size: 21px;
    grid-area: a2;   
}
.video_juego{
    @extend .img_style;
    grid-area: a4;
}
.description_juego{
    grid-area: a3;
    font-size: 15px ;
    
}

$indice_img: 1,2,3;
$areas_img: a6, a7, a8;
@each $ind,$area in zip($indice_img,$areas_img) {
    
    .img_juego_#{$ind}{
        @extend .img_style;
        grid-area: $area;
        transition: all 0.3s;
    }
    .img_juego_#{$ind}:hover{
        transform: scale(1.3,1.3);
    }
    
}


.container_button{
    grid-area: a5; 
    @extend .img_style;
    flex-direction: center;
}

.container_privacy_policy{
    grid-area: a9;
    @extend .img_style;
    flex-direction: center;
}

.game_button{
    width: 100%;
    height: 100%;
}


.icono_juego{
    border-radius: 25%;
    grid-area: a1;
    height: 90%;
    width: 90%;
}

.description{
    width: 100%;
}


.grid_contacto{
    @extend .grid_base;
    grid-template-columns: 360px 360px ;
    grid-template-rows: 20px 360px;
    grid-template-areas:"a1 a2"
                        "a3 a4";
    padding: 20px;
}

#formulario_titulo{
    grid-area: a1;
}

#ubicacion_titulo{
    grid-area: a2;
}
#fieldset_formulario{
    grid-area: a3;
    text-align: center;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
#boton_form{
    width: 50%;
}
#id_des_motivo{
    height: 40%;
}

#mapa{
    grid-area:a4;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}



@media screen and (max-width:870px){
    
    #grid_2_servicios{
        grid-template-columns: 200px 200px;
        grid-template-rows: 500px 500px;
    }
}
@media screen and (max-width:800px){
    
    #grid_nosotros{
        grid-template-columns: 250px 250px;
        grid-template-rows: 20px 200px 180px 250px;
        grid-template-areas:"a1 a1"
                            "a3 a3"
                            "a4 a5"
                            "a2 a2";
    }
    .grid_contacto{
        grid-template-columns: 360px ;
        grid-template-rows: 20px 360px 20px 360px;
        grid-template-areas:"a1"
                            "a3"
                            "a2"
                            "a4";
        justify-content: center;
    }

}


@media screen and (max-width:700px){
    #grid_index{
        grid-template-columns: 300px;
        grid-template-rows: 300px 300px;
        grid-template-areas:"a2"
                            "a1"
                            "a3";
    }
 
    #grid_1_servicios{
        display: grid;
        grid-template-columns: 400px ;
        grid-template-rows: 50px ;
        grid-template-areas:"b1"
                            "b2";
    }
    #img_servicios{
        display: none;
    }
    .grid_carta_juego{
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: 90px 270px 70px 55px 55px 55px 55px;
        grid-template-areas:"a1 a2 a2"
                            "a4 a4 a4"
                            "a3 a3 a3"
                            "a6 a7 a8"
                            "a6 a7 a8"
                            "a6 a7 a8" 
                            "a5 a5 a9";
    }
    .grid_carta_juego2{
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: 90px 270px 85px 110px 110px 55px;
        grid-template-areas:"a1 a2 a2"
                            "a4 a4 a4"
                            "a3 a3 a3"
                            "a6 a6 a6"
                            "a7 a7 a7"
                            "a5 a5 a9";
    }
}
@media screen and (max-width:550px){
    
    #grid_nosotros{
        grid-template-columns: 150px 150px;
        grid-template-rows: 20px 350px 100px 450px;
        grid-template-areas:"a1 a1"
                            "a3 a3"
                            "a4 a5"
                            "a2 a2";
        
    }
    .grid_contacto{
        grid-template-columns: 280px ;
        grid-template-rows: 20px 280px 20px 280px;
        grid-template-areas:"a1"
                            "a3"
                            "a2"
                            "a4";
    }
    #grid_2_servicios{
        grid-template-columns: 200px;
        grid-template-rows: 500px 500px 500px 500px;
    }

    #grid_1_servicios{
        grid-template-columns: 250px ;
        grid-template-rows: 100px ;
        grid-template-areas:"b1"
                            "b2";
    }
}